
/* General Design */

html,body {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

h1,h5 {
  padding-bottom: 25px;
}

/* keep footer on bottom */

main {
  width: 90vw;
  margin: 0 auto;
  padding: 30px 20px;
  min-height: calc(100vh - 211px - 58px);
}


/* Text design */

.center {
margin: auto;
width: 60%;
padding: 70px;
margin: 20px;

}

.proper-text {
letter-spacing: 2px;
font-family: 'Barlow',sans-serif;
text-align: center;
}

/* Navbar */

.header{width: 100%;
background-image: linear-gradient(to right,#354259,#A3E4DB );
}
.navbar-brand{color: white!important;}
.nav-link{color: white!important;}
.nav-link:hover{color:#354259 !important}
.navbar-brand:hover{color: #354259!important;}


/* Home Page */


/* Title */
#title {
  background-color: #edf5f4

}


/* Carousel */

.image {
  position: absolute;
  background-position:center;
  background-size: cover;
  width:  300px;
  height: 600px;
  object-fit: cover;

}

.carousel-item {
  height: 32rem;
  weight: 32rem;
}

/* Cards */

#cards {
  padding: 100px;
  background-color: #edf5f4
}

.col {
  margin-left: 125px;
}

.card-line {
  padding-top: 40px;
}



/* Footer */

#footer {
  width: 100%;
  padding: 7% 15%;
  background-image: linear-gradient(to right,#A3E4DB ,#354259 );
  color: white;

}

/* About Us Page */

#about-us {
  background-color: #edf5f4;
}


/* Contact Us Page */
#contact-us {
  background-color:  #edf5f4;
}

.contact-header {
padding: 2rem!important;
margin-left: 200px;
}

.contacts {
  text-align: right;
  padding: 2rem!important;
  margin-right: 200px;
}

.contact-tag {
  text-decoration:none;
  color: black;
}

/* Donations */

#donations {
    background-color:  #edf5f4;
}

.button {
background:    #9addd3;
background:    linear-gradient(#9addd3, #354259);
border: none;
border-radius: 11px;
padding:       20px 43px;
color:         #ffffff;
display:       inline-block;
font-family: 'Barlow',sans-serif;
text-align:    center;
transition: ease-out 0.5s;
}

.button:hover {
box-shadow: inset 300px 0 0 0 #354259;
content: "Help" !important;
}


/* Events */

#events {
  background-color:  #edf5f4;
}
/* Calendar */
